.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: "#E8E7E7";
}

.result {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10;
    width: 80%;
}